body {
    display: flex;
    justify-content: center;
    background: url(../assets/wallpaper.jpg);
}

p {
    position: relative;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    font-size: 35px;
    color: #fff;
    line-height: 50px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}