body {
    margin: 0px;
    background: url(../assets/wallpaper.jpg);
}

h1 {
    margin-top: 0px;
    text-align: center;
    font-size: 50px;
}

.Form {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
}

.form-label, .form-input, .form-send {
    display: flex;
    width: 92%;
    font-size: 1.3em;
}

.form-send {
    width: 100%;
}

.form-input {
    padding: 20px;
    margin-bottom: 40px;
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.3);
    color: white;
}

.form-input:focus {
    outline: 1px solid rgba(0, 0, 0, 0.7);
}

.from-label {
    padding-left: 15px;
}

.form-input-msg {
    height: 100px;
}

.form-send {
    justify-content: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7);
    border: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 250px) {
    .form-label, .form-input, .form-send {
        display: flex;
        width: 180px;
        font-size: 1.3em;
    }
    #button-sumbit {
        width: 220px;
    }
    h1 {
        font-size: 30px;
    }
}