body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    background: url(../image/FONDO2.jpg);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    right: 0vw;
    top: 0px;
    left: 250px;
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.header-title {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.header-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 230px;
}

/*PEG SOLITAIRE DESCRIPTION*/

.container-description {
    display: flex;
    justify-content: center;
    flex-shrink: 1;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 25px;
    text-align: center;
}

#board {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/*SCORE AND PIECES*/

p#score {
    width: 228px;
    border: 2px solid #030107;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: rgba(20, 130, 158, 0.5);
}

p#piece {
    padding: 0px;
    width: 228px;
    border: 2px solid #030107;
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
    font-size: 40px;
    text-align: center;
    color: white;
    background-color: rgba(20, 130, 158, 0.5);
}

.popup-inactive {
    position: absolute;
    visibility: hidden;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 0px;
}

.popup-active {
    position: absolute;
    visibility: visible;
    border: 3px dashed #000;
    border-radius: 10%;
    color: blue;
    text-align: center;
    background-color: rgba(92, 51, 51, 0.9);
    box-shadow: 0 0 20px 1px rgba(182, 127, 40, 0.3);
}

span {
    font-size: 80px;
}

h1 {
    font-size: 40px;
}

#button-show, #button-close {
    display: flex;
    justify-content: center;
    border-radius: 5%;
    width: 150px;
    padding: 10px;
    margin-top: 20px;
    opacity: 0.9;
    border: 2px solid red;
    color: #fff;
    cursor: pointer;
    background-color: rgba(153, 48, 48, 0.8);
    font-size: 20px;
}

/*MENU*/

#sidebar {
    position: fixed;
    visibility: hidden;
    top: 0px;
    width: 200px;
    height: 970px;
    outline: 1px solid #2a2a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background: #333;
    color: #fff;
    opacity: 0.8;
}

#sidebar h2 {
    margin: 0;
    padding: 10px;
    text-align: center;
    background: #2a2a2a;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#sidebar a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
}

#sidebar ul {
    padding: 0px;
    list-style: none;
}

#sidebar li {
    font-size: 20px;
    /*geretae the line, but the line no generate a space in the box*/
    outline: 1px solid #2a2a2a;
    transition-property: border;
    /*is the same that transition: border 0.3s*/
    transition-duration: 0.3s;
}

#sidebar li:hover {
    background: #444;
    border-left: 5px solid #eee;
}

#name-txt {
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 120px;
    height: 20px;
}

#btn-save-game {
    width: 50px;
    height: 27px;
}

h2#title-player {
    margin-top: 50px;
}

/*BOARD AND PIECES OF BOARD*/

.ball-place {
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #030107;
    list-style-type: none;
    background-color: rgb(255, 253, 153);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
}

.ball-place-empty {
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    list-style-type: none;
    background-color: rgb(255, 251, 251);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
}

.selected {
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    border: 2px solid #17202a;
    background-color: rgb(46, 204, 125);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
}

.suggestion {
    width: 45px;
    height: 45px;
    margin: 5px;
    border: 2px solid #17202a;
    border-radius: 20px;
    background-color: rgb(63, 193, 244);
    box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
}

.no-ball {
    visibility: hidden;
    width: 45px;
    height: 45px;
    margin: 5px;
    border-radius: 20px;
    list-style-type: none;
    border: none;
}