@media (max-width: 1200px) {
    #board button {
        width: 40px;
        height: 40px;
        margin: 6px;
        border-radius: 30px;
    }
    .header-image {
        width: 240px;
        height: 65px;
    }
    p#score {
        width: 190px;
        font-size: 30px;
    }
    p#piece {
        width: 190px;
        font-size: 30px;
    }
    #button-show {
        width: 210px;
    }
}

@media (max-width: 1024px) {
    #board button {
        width: 35px;
        height: 35px;
        margin: 6px;
        border-radius: 30px;
    }
    p#score {
        width: 170px;
        font-size: 25px;
    }
    p#piece {
        width: 170px;
        font-size: 25px;
    }
    #button-show {
        width: 190px;
    }
    #user-rank ul li {
        padding: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width: 900px) {
    #board button {
        width: 30px;
        height: 30px;
        margin: 6px;
        border-radius: 30px;
    }
    #button-show {
        width: 190px;
    }
    #players {
        margin-left: -55px;
        width: 200px;
    }
}

@media (max-width: 768px) {
    #board button {
        width: 28px;
        height: 28px;
        margin: 6px;
        border-radius: 30px;
    }
    p#score {
        width: 160px;
        font-size: 25px;
    }
    p#piece {
        width: 160px;
        font-size: 25px;
    }
    #button-show {
        width: 180px;
    }
}

@media (max-width: 495px) {
    #board button {
        width: 25px;
        height: 25px;
        margin: 6px;
        border-radius: 30px;
    }
    #players {
        margin-left: -55px;
        width: 200px;
    }
    #user-rank ul li {
        padding: 3px;
        font-size: 13px;
        font-weight: bold;
    }
}

@media (max-width: 278px) {
    #board button {
        width: 23px;
        height: 23px;
        margin: 6px;
        border-radius: 30px;
    }
}