@media (min-width: 480px) {
    html {
        height: 100%;
    }
    body {
        height: 80%;
    }
    #board {
        margin-top: 60px;
    }
    #board button {
        width: 20px;
        height: 20px;
        margin: 3px;
        border-radius: 30px;
    }
    .header-image {
        width: 200px;
        height: 60px;
    }
    .container-description {
        width: 130px;
        font-size: 20px;
    }
    p#score {
        margin-top: 40px;
        width: 100px;
        font-size: 20px;
    }
    p#piece {
        margin-top: -15px;
        width: 100px;
        font-size: 20px;
    }
    .popup-active {
        margin-top: 160px;
        width: 200px;
        height: 75px;
        
    }
    span {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    #board {
        margin-top: 40px;
    }
    #board button {
        width: 25px;
        height: 25px;
        margin: 4px;
        border-radius: 30px;
    }
    .header-image {
        margin-top: 140px;
        width: 250px;
        height: 80px;
    }
    .container-description {
        width: 230px;
        font-size: 20px;
    }
    p#score {
        margin-top: 40px;
        width: 140px;
        font-size: 30px;
    }
    p#piece {
        width: 140px;
        font-size: 30px;
    }
    .popup-active {
        margin-top: 70px;
        width: 230px;
        height: 90px;
    }
    span {
        font-size: 30px;
    }
}

@media (min-width: 900px) {
    #board {
        margin-top: 10px;
    }
    #board button {
        width: 35px;
        height: 35px;
        margin: 6px;
        border-radius: 30px;
    }
    .header-image {
        margin-top: 140px;
        width: 350px;
        height: 90px;
    }
    .container-description {
        width: 400px;
        font-size: 25px;
    }
    p#score {
        margin-top: 20px;
        width: 150px;
        font-size: 33px;
    }
    p#piece {
        width: 150px;
        font-size: 33px;
    }
    .popup-active {
        margin-top: 80px;
        width: 320px;
        height: 120px;
    }
    #button-show {
        margin-top: -15px;
    }
    span {
        font-size: 40px;
    }
}

@media (min-width: 1024px) {
    #board {
        margin-top: 10px;
    }
    #board button {
        width: 40px;
        height: 40px;
        margin: 6px;
        border-radius: 30px;
    }
    .header-image {
        width: 350px;
        height: 90px;
    }
    .container-description {
        width: 400px;
        height: 80px;
    }
    p#score {
        margin-top: 15px;
        width: 160px;
        font-size: 34px;
    }
    p#piece {
        margin-top: 3px;
        width: 160px;
        font-size: 34px;
    }
    .popup-active {
        margin-top: 60px;
        width: 360px;
        height: 150px;
    }
    span {
        font-size: 60px;
    }
}

@media (min-width: 1200px) {
    #board {
        margin-top: 10px;
    }
    #board button {
        width: 45px;
        height: 45px;
        margin: 6px;
        border-radius: 30px;
    }
    .header-image {
        width: 350px;
        height: 80px;
    }
    .container-description {
        width: 500px;
    }
    p#score {
        margin-top: 20px;
        width: 170px;
        font-size: 35px;
    }
    p#piece {
        margin-top: -20px;
        width: 170px;
        font-size: 35px;
    }
    .popup-active {
        margin-top: 60px;
        width: 380px;
        height: 170px;
    }
}