.header{
  display: flex;
  justify-content: left;
}
.nav li a{
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  display: flex;
}
.nav li a:hover{
  background-color: grey;
}
.nav li:hover > ul{ /*li inside of nav that are direct of ul*/
  display: block;
}
.nav li ul li{
 position: relative;

}

.nav li ul{
  position: absolute;
  display: none
}

.board {
  margin: 55px;
  border-radius: 30px;
  display: flex;
  justify-content: left;
  align-items: center;
  flex-grow: 1;
  background-color: rgb(211, 160, 155);
  padding: 50px;
  
}
.game {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.first,
.middle,
.last {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  background: rgb(177, 83, 83);
}
.first{
  border-radius: 20px 0px 0px 20px;
}
.last{
  border-radius: 0px 20px 20px 0px;
}
.middle {
  border-radius: 20px;
}

.first-part-list,
.middle-part-list,
.last-part-list {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
}
.middle-part-list{
  margin-right: 40px;
}
.first-part-list
{
  margin-right: 10px;
}
.last-part-list{
  margin-left: -20px;
  margin-right: 35px;
}
.ball-place {
  list-style-type: none;
  background-color: rgb(255, 253, 153);
  border: 2px solid #030107;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 5px;
  box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
}
.ball-place-empty {
  list-style-type: none;
  background-color: rgb(255, 251, 251);
  border: 2px solid rgb(0, 0, 0);
  box-shadow: 2px 0px 3px 1px rgba(0, 0, 0, 0.65);
  width: 30px;
  height: 30px;
  border-radius: 20px;
  margin: 5px;
}
@media (min-width: 500px)
{   
.ball-place, .ball-place-empty 
{     

width: 40px;      
height: 40px;     
border-radius: 40px; 
} 
}
@media (min-width: 768px) {
    html {
      height: 100%;
    }
    body {
      height: 100%;
    }
  
    .game {
      width: 50%;
      margin: 10px;
    }
    .ball-place,
    .ball-place-empty {
      width: 45px;
      height: 45px;
      border-radius: 45px;
    }
  }
  
  