body {
  display: flex;
  justify-content: center;
  background: url(../image/FONDO2.jpg);
}
p {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: #fff;
  font-size: 35px;
  width: 750px;
  height: 220px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 647px) {
  p {
    height: 400px;
  }
}
@media (max-width: 361px) {
  p {
    height: 760px;
  }
}
