body {
  display: flex;
  justify-content: center;
  background:url(../image/fondo.png);
}
#Email{
  display: flex;
  justify-content: center;
  font-size: 35px;
  width: 650px;
  height: 70px;
  margin-top: 150px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
#Phone{
  display: flex;
  justify-content: center;
  font-size: 35px;
  width: 650px;
  height: 70px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
